<ion-header>
	<ion-navbar>
		<ion-title>
			FeeSplit
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding text-center>
	<ion-grid>
		<ion-row>
			<ion-col>
				<button ion-button icon-start block color="danger" (click)="removeAll()">
					<ion-icon name="trash"></ion-icon>
					Clear all
				</button>
			</ion-col>
			<ion-col>
				<button ion-button icon-start block (click)="addPerson()">
					<ion-icon name="person-add"></ion-icon>
					Add person
				</button>
			</ion-col>
		</ion-row>
	</ion-grid>

	<ion-item>
		<ion-label>Fees in common</ion-label>
		<ion-toggle [(ngModel)]="areTheyFeeInCommon"></ion-toggle>
	</ion-item>

	<ion-card *ngIf="areTheyFeeInCommon">
		<ion-card-header no-padding>
			{{ commonFee.name }}
		</ion-card-header>
		<ion-card-content no-padding>
			<ion-grid no-padding>
				<ion-row *ngFor="let fee of commonFee.fees; let feeIndex = index; trackBy: trackByFee">
					<ion-col>
						<ion-item>
							<ion-input placeholder="Fee" [(ngModel)]="commonFee.fees[feeIndex]"></ion-input>
						</ion-item>
					</ion-col>
					<ion-col col-2>
						<button ion-button icon-only clear color="danger" (click)="removeFee(-1, feeIndex)">
							<ion-icon name="remove"></ion-icon>
						</button>
					</ion-col>
				</ion-row>
			</ion-grid>
			<button ion-button icon-start clear (click)="addFee(-1)">
				<ion-icon name="add"></ion-icon>
				Add fee in common
			</button>
		</ion-card-content>
	</ion-card>

	<ion-card *ngFor="let person of people; let personIndex = index">
		<ion-card-header no-padding>
			{{ person.name }}
		</ion-card-header>
		<ion-card-content no-padding>
			<ion-grid no-padding>
				<ion-row *ngFor="let fee of person.fees; let feeIndex = index; trackBy: trackByFee">
					<ion-col>
						<ion-item>
							<ion-input placeholder="Fee" [(ngModel)]="people[personIndex].fees[feeIndex]"></ion-input>
						</ion-item>
					</ion-col>
					<ion-col col-2>
						<button ion-button icon-only clear color="danger" (click)="removeFee(personIndex, feeIndex)">
							<ion-icon name="remove"></ion-icon>
						</button>
					</ion-col>
				</ion-row>
				<ion-row align-items-center>
					<ion-col><ion-item>To be paid: {{ person.amount }}</ion-item></ion-col>
					<ion-col col-2>
						<button ion-button icon-only clear (click)="copyToClipboard(personIndex)">
							<ion-icon name="copy"></ion-icon>
						</button>
					</ion-col>
				</ion-row>
			</ion-grid>

			<button ion-button icon-start clear color="danger" (click)="removePerson(personIndex)">
					<ion-icon name="close"></ion-icon>
					Remove person
			</button>
			<button ion-button icon-start clear (click)="addFee(personIndex)">
				<ion-icon name="add"></ion-icon>
				Add fee
			</button>
		</ion-card-content>
	</ion-card>

	<ion-grid>
		<ion-row>
			<ion-col>
				<ion-item>
					<ion-label floating>Total (without tips)</ion-label>
					<ion-input [(ngModel)]="total"></ion-input>
				</ion-item>
			</ion-col>
			<ion-col>
				<ion-item>
					<ion-label floating>Tips</ion-label>
					<ion-input [(ngModel)]="tip"></ion-input>
				</ion-item>
			</ion-col>
		</ion-row>
	</ion-grid>

	<button ion-button icon-start block color="secondary" (click)="calculate()" [disabled]="people.length == 0">
		<ion-icon name="calculator"></ion-icon>
		Calculate
	</button>
</ion-content>